
// BILLBOARD //
.module.billboard{
    min-height: 700px;
    height: 80vh;
    position: relative;
    top: -120px;
    margin-bottom:-120px;
    
    @include breakpoint (medium only){
        min-height: 500px;
        height: 50vh;
    }//end breakpoint medium only
    
    @include breakpoint (small only){
        min-height: 450px;
        height: 50vh;
    }//end breakpoint small only
    
    &:before{
        @include pseudo;
        width: 80vw;
        bottom: 0;
        right:0;
        border-left: 50px solid transparent;
        border-bottom: 50px solid white;
        z-index: 1;
        
        @include breakpoint (medium only){
            width: 80vw;
            bottom:-1px;
            border-left: 36px solid transparent;
            border-bottom: 36px solid white;
        }//end breakpoint medium only
        
        @include breakpoint (small only){
            width: 50vw;
            bottom:-1px;
            border-left: 36px solid transparent;
            border-bottom: 36px solid white;
        }//end breakpoint small only
    }//end billboard before
    
    &:after{
        @include pseudo;
        width: 20vw;
        bottom: 0;
        border-right: 50px solid transparent;
        border-bottom: 50px solid white;
        
        @include breakpoint (medium only){
            width: 20vw;
            bottom:-1px;
            border-right: 36px solid transparent;
            border-bottom: 36px solid white;
        }//end breakpoint medium only
        
        @include breakpoint (small only){
            width: 50vw;
            bottom:-1px;
            border-right: 36px solid transparent;
            border-bottom: 36px solid white;
        }//end breakpoint small only
    }//end billboard after
    
    .billboard__holder--basic {
        height:100%;
        background-position: 50% 75%;
        
        &:after{
            @include pseudo;
            background:linear-gradient(0deg, rgba(0,0,0,.4) 48%, #270F3B 100%);
            top:0;
            bottom:0;
            right:0;
            left:0;
            opacity: .9;
        }//end billboard holder after
        
        .inner.expanded{
            height:100%;
            
            @include breakpoint (small only){
                padding: 0 1.667rem;
            }//end breakpoint small only
            
            .row.expanded{
                height:100%;
                max-width:800px;
                position: relative;
                
                @include breakpoint (medium only) {
                    max-width: 500px;
                }//end breakpoint small only
                
                @include breakpoint (small only) {
                    max-width: 380px;
                }//end breakpoint small only

                .card--billboard{
                    height: auto;
                    position: relative;
                    top: calc(50% - 289px);
                    z-index: 1;
                    overflow: inherit;
                    background-color: transparent;
                    padding: $spacing--md;
                    
                    @include breakpoint (medium only) {
                        top: calc(50% - 150px);
                        padding: $spacing--xs;
                        padding-bottom: $spacing--sm;
                    }//end breakpoint medium only
                    
                    @include breakpoint (small only) {
                        padding: $spacing--xs;
                        padding-bottom: $spacing--sm;
                        top: calc(50% - 84px);
                    }//end breakpoint small only
                    
                    p{
                       display: none;
                    }//end p
                    
                    .button{
                        position: absolute;
                        bottom: -25px;
                        left:0;
                        right:0;
                        width:100%;
                        max-width:200px;
                        margin:auto;
                        padding:$spacing--xs $spacing--sm;
                        text-transform: uppercase;
                        color: $color-default-inverse;
                        font-family: $font-main;
                        font-size: $fontsize-h2;
                        background-color: $color-accent-2;
                        font-weight: $font-semibold;
                        border-radius: $border-radius-pill;
                        box-shadow: 0 2px 10px rgba(0,0,0,.25);
                        @include transition (all .2s ease-in-out);

                        @include breakpoint (medium only) {
                            bottom: 10px;
                        }//end medium only breakpoint
                        
                        @include breakpoint (small only){
                            padding: $spacing--xs/1.5;
                            max-width: 150px;
                            font-size: $fontsize-medium;
                            bottom: 10px;
                        }//end breakpoint small only
                        
                        &:hover{
                            box-shadow: 0 2px 10px rgba(0,0,0,.30);
                            transform: scale(1.05);
                            @include transition (all .2s ease-in-out);
                        }//end hover
                    }//end billboard button
                }//end card billboard
            }//end row expanded
        }//end inner exapnded
    }//end billboard holder
}//end billboard module