/* Here's a sample BEM SCSS Structure` */
    .block {
        /* CSS declarations for `.block` */

        &__element {
            /* CSS declarations for `.block__element` */
        }

        &--modifier {
            /* CSS declarations for `.block--modifier` */

            &__element {
                /* CSS declarations for `.block--modifier__element` */
            }
        }
    }