#content {
  .module.deck {
    &.deck--wildcard {
      .inner.expanded {
        max-width: $container;
        padding: 0 $spacing--xl/2;

        @include breakpoint (small only) {
          padding: 0 $spacing--xs;
        } //end small breakpoint

        .module__header h1 {
          text-transform: uppercase;
          text-align: center;
          margin-top: $spacing--sm;
          margin-bottom: $spacing--lg;

          @include breakpoint (medium only) {
            margin-bottom: $spacing--sm;
          } //end medium breakpoint

          @include breakpoint (small only) {
            margin: $spacing--xs auto $spacing--sm;
            font-size: $fontsize-mobile-h1;
            max-width: 225px;
          } //end small breakpoint
        } //end h1

        .card--wildcard {
          padding: 0 $spacing--xl/2;

          @include breakpoint (large only) {
            padding: 0 $spacing--xs;
          } //end large breakpoint

          @include breakpoint (small only) {
            padding: 0;
          } //end small breakpoint
          .wildcard__header {
            color: $color-primary;
            font-size: $fontsize-h2;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: $spacing--xs;

            @include breakpoint (medium only) {
              text-align: center;
            } //end medium breakpoint

            @include breakpoint (small only) {
              font-size: $fontsize-medium;
            } //end small breakpoint
          } //end wildcard header

          .wildcard__paragraph {
            font-size: $fontsize-medium;

            @include breakpoint (medium only) {
              font-size: $fontsize-mobile-regular;
              line-height: 2.133rem;
            } //end medium breakpoint

            @include breakpoint (small only) {
              font-size: $fontsize-mobile-regular;
              line-height: 2.133rem;
            } //end small breakpoint
          } //end wildcard paragraph
        } //end wild card
      } //end inner expanded

      &.with-video {
        padding-top: $spacing--md;
        padding-bottom: $spacing--md;

        @include breakpoint (medium only) {
          padding-top: 0;
          padding-bottom: $spacing--sm;
        } //end medium breakpoint

        @include breakpoint (small only) {
          padding-top: $spacing--sm;
          padding-bottom: $spacing--sm;
        } //end small breakpoint

        .inner.expanded {
          module__header {
            h1 {
              margin-top: 0;
            }
          } //end module header
          .card--wildcard {
            @include breakpoint (medium only) {
              padding: 0 $spacing--xs;
            } //end medium breakpoint

            .wildcard__header {
              @include breakpoint (medium only) {
                text-align: left;
                font-size: $fontsize-mobile-h1;
              } //end medium breakpoint
            } //end wildcard header

            a {
              color: $color-primary;

              &:hover {
                color: darken($color-primary, 5%);
                text-decoration: underline;
                @include transition (all .2s ease-in-out);
              } //end a hover
            } //end a
            p {
            } //end p

            ul {
              list-style: none;
              padding: 0;
              margin: 0;

              @include breakpoint (medium only) {
                font-size: $fontsize-mobile-regular;
                line-height: 2rem;
              } //end medium breakpoint

              @include breakpoint (small only) {
                font-size: $fontsize-mobile-regular;
                line-height: 2rem;
              } //end small breakpoint

              li {
                padding-left: $spacing--xs;
                text-indent: -0.7em;
                margin-bottom: $spacing--xs;

                @include breakpoint (small only) {
                  padding-left: $spacing--sm;
                } //end small breakpoint

                &:before {
                  content: "•";
                  color: $color-primary;
                  font-size: 2.5rem;
                  line-height: 0;
                  position: relative;
                  display: inline-block;
                  top: 9px;
                  margin-right: 10px;

                  @include breakpoint (small only) {
                    font-size: 3rem;
                    top: 11px;
                  } //end small breakpoint
                }
              } //end li
            } //end ul
          } //end card wildcard

          .wildcard__holder {
            position: relative;

            .wildcard__image {
              position: relative;
              height: 100%;
              background-image: url(../img/compressed/foundations-events-video-thumbnail.min.png);
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center center;
              min-height: 250px;

              & img {
                display: none;
              } //end img
            } //end wild card image
            .button--modal {
              @include pseudo;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background-color: rgba(0, 0, 0, 0.38);
              @include transition (all .2s ease-in-out);

              &:focus {
                box-shadow: none;
              }

              &:after {
                font-family: "FontAwesome";
                content: "\f04b";
                position: absolute;
                display: block;
                top: calc(50% - 60px);
                left: calc(50% - 60px);
                color: $color-primary;
                max-width: 120px;
                max-height: 120px;
                border-radius: 50%;
                background-color: $color-default-inverse;
                margin: auto;
                text-align: center;
                padding: 23px;
                padding-left: 36px;
                font-size: 4rem;
                border: 6px solid $color-primary;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.19);
                @include transition (all .2s ease-in-out);

                @include breakpoint (small only) {
                  max-width: 55px;
                  max-height: 55px;
                  top: calc(50% - 27.5px);
                  left: calc(50% - 27.5px);
                  font-size: 2rem;
                  padding: 9px;
                  padding-left: 15px;
                  border: 3px solid $color-primary;
                } //end small breakpoint
              } //end after

              &:hover {
                background: rgba(0, 0, 0, 0.6);
                text-decoration: none;
                @include transition (all .2s ease-in-out);
              }
            } //end button modal
          } //end wildcard holder
        } //end inner expanded
      } //end with video class

      &.purple-gradient {
        background: $gradient-primary;
        padding: $spacing--lg 0;

        @include breakpoint (medium only) {
          padding: $spacing--sm 0;
        } //end medium breakpoint

        @include breakpoint (small only) {
          padding: $spacing--sm 0;
        } //end small breakpoint
        .inner.expanded {
          max-width: $container;
          padding: 0px $spacing--lg;

          @include breakpoint (small only) {
            padding: 0 $spacing--sm;
          } //end small breakpoint
          .row {
            .card--wildcard {
              &:first-of-type {
                width: 65%;

                @include breakpoint (medium only) {
                  width: 100%;
                } //end medium breakpoint

                @include breakpoint (small only) {
                  width: 100%;
                } //end small breakpoint
              } //end first of type

              &:nth-of-type(2) {
                width: 35%;

                @include breakpoint (medium only) {
                  width: 100%;
                } //end medium breakpoint

                @include breakpoint (small only) {
                  width: 100%;
                } //end small breakpoint
              } //end first of type
              .wildcard__holder {
                position: relative;
                min-height: 50px;

                .wildcard__header {
                  color: $color-default-inverse;

                  @include breakpoint (small only) {
                    text-align: center;
                  } //end small breakpoint
                } //end wild card header

                .wildcard__subhead {
                  color: $color-default-inverse;
                  font-size: $fontsize-medium;
                  font-weight: $font-regular;
                  font-family: $font-body;

                  @include breakpoint (medium only) {
                    text-align: center;
                  } //end medium breakpoint

                  @include breakpoint (small only) {
                    text-align: center;
                    font-size: $fontsize-mobile-regular;
                  } //end small breakpoint
                } //end wildcard subhead

                .button--wildcard {
                  position: absolute;
                  color: $color-primary;
                  background-color: $color-default-inverse;
                  padding: $spacing--xs $spacing--sm;
                  border-radius: $border-radius-pill;
                  margin-left: $spacing--xs;
                  @include transition (all .2s ease-in-out);
                  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
                  font-family: $font-main;
                  font-size: $fontsize-h2;
                  font-weight: $font-semibold;
                  right: 0;
                  left: 0;
                  top: calc(50% - 23px);
                  max-width: 260px;
                  margin: auto;

                  @include breakpoint (small only) {
                    font-size: $fontsize-medium;
                    max-width: 200px;
                    top: 0;
                  } //end small breakpoint

                  &:hover {
                    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.4);
                    background-color: darken($color-default-inverse, 5%);
                    @include transition (all .2s ease-in-out);
                  } //endhover
                } //end button wildcard
              } //end wildcard holder
            } //end wildcard
          } //end row
        } //end inner expanded
      } //end purple background
    } //end wildcard deck

    &.deck--basic {
      .inner.expanded {
        max-width: $container;
        padding: 0 $spacing--xl*2;

        @include breakpoint (xlarge only) {
          padding: 0 $spacing--xl;
        } //end xlarge only

        @include breakpoint (large only) {
          padding: 0 $spacing--md;
        } //end xlarge only

        @include breakpoint (medium only) {
          padding: 0 $spacing--xs;
        } //end medium only

        @include breakpoint (small only) {
          padding: 0 $spacing--sm;
        } //end small only

        .module__header h1 {
          text-transform: uppercase;
          text-align: center;
          margin-top: $spacing--xs;
          margin-bottom: $spacing--lg;

          @include breakpoint (medium only) {
            margin-bottom: $spacing--sm;
          } //end medium only

          @include breakpoint (small only) {
            margin: 0 0 $spacing--sm;
            font-size: $fontsize-mobile-h1;
          } //end small breakpoint
        } //end h1

        .row {
          .card--basic {
            overflow: visible;
            padding: 0;
            position: relative;

            @include breakpoint (small only) {
              margin-bottom: $spacing--sm;
            } //end small only

            &:first-of-type {
              margin-right: -10px;
              margin-left: 10px;

              @include breakpoint (small only) {
                margin-right: 0;
                margin-left: 0;
              } //end small only
            } //end first of type

            &:last-of-type {
              margin-left: -10px;
              @include breakpoint (small only) {
                margin-left: 0;
              } //end small only
            } //end last of type

            &:not(:first-of-type):not(:last-of-type) {
              background: $gradient-primary;
              border-radius: $border-radius;
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
              z-index: 1;

              .card__holder--basic {
                box-shadow: none;
                max-height: none;
                border-radius: none;
                margin-top: 0;
                background-color: transparent;

                .card__header--basic {
                  color: $color-default-inverse;
                } //end card header basic

                .card__secondary--basic {
                  margin-bottom: $spacing--sm;

                  h3 {
                    color: $color-default-inverse;
                  } //end h3

                  h4 {
                    color: $color-default-inverse;
                  } //end h4

                  p {
                    color: $color-default-inverse;

                    strong {
                      text-transform: uppercase;
                    } //end strong
                  } //end p
                } //end card secondary basic

                .button--basic {
                  background: $color-default-inverse;
                  color: $color-primary;
                } //end button basic
              } //end card holder--basic
            } //end not first or last of type

            .card__holder--basic {
              background-color: $color-default-inverse;
              position: relative;
              padding: $spacing--sm $spacing--md;
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
              border-radius: $border-radius;

              @include breakpoint (large only) {
                padding: $spacing--sm;
              } //end large only

              @include breakpoint (medium only) {
                padding: $spacing--sm;
                max-height: 420px;
              } //end medium only

              @include breakpoint (small only) {
                margin-top: 0;
                padding: $spacing--sm;
                max-height: none;
              } //end small only

              .card__header--basic {
                text-align: center;
                text-transform: uppercase;
                color: #a554a5;
                letter-spacing: 2px;

                @include breakpoint (medium only) {
                  font-size: $fontsize-mobile-h1;
                } //end medium only

                @include breakpoint (small only) {
                  font-size: $fontsize-mobile-h1;
                } //end small breakpoint
              } //end card header basic

              .card__secondary--basic {
                margin-bottom: $spacing--sm;

                h3 {
                  text-align: center;
                  font-size: 4.667rem;
                  font-family: $font-main;
                  font-weight: $font-light;

                  @include breakpoint (medium only) {
                    font-size: 3.3333rem;
                  } //end medium breakpoint

                  @include breakpoint (small only) {
                    font-size: 3.3333rem;
                  } //end small breakpoint

                  &:before {
                    content: "$";
                    vertical-align: super;
                    font-size: 28px;
                  } //end h3 before
                } //end h3

                h4 {
                  text-align: center;
                  font-size: $fontsize-h1;
                  margin: $spacing--xs 0;

                  @include breakpoint (medium only) {
                    font-size: $fontsize-h2;
                  } //end medium breakpoint

                  @include breakpoint (small only) {
                    font-size: $fontsize-h2;
                  } //end small breakpoint
                } //end h4
                p {
                  margin-bottom: 0;
                  font-size: $fontsize-medium;
                  text-align: center;

                  @include breakpoint (medium only) {
                    font-size: $fontsize-mobile-regular;
                    line-height: 2rem;
                  } //end medium breakpoint

                  @include breakpoint (small only) {
                    font-size: $fontsize-mobile-regular;
                    line-height: 2rem;
                  } //end small breakpoint
                } //end p
              } //end card secondary basic

              .button--basic {
                background: $gradient-primary;
                display: block;
                margin: auto;
                text-align: center;
                max-width: 175px;
                width: 100%;
                border-radius: $border-radius-pill;
                font-size: $fontsize-medium;
                font-family: $font-main;
                font-weight: $font-semibold;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
                @include transition (all .2s ease-in-out);

                &:hover {
                  /*                                    padding: 1.2rem;
                                    max-width: 205px;*/
                  transform: scale(1.05);
                  @include transition (all .2s ease-in-out);
                } //end hover
              } //end button basic
            } //end card holder--basic
          } //end card--basic
        } //end row
      } //end inner expanded

      &.two-up {
        background: linear-gradient(
          180deg,
          $color-default-inverse 50%,
          $color-secondary 50%,
          $color-secondary 100%
        );
        padding-bottom: $spacing--sm;

        @include breakpoint (medium only) {
          padding-bottom: 0;
        } //end medium breakpoint

        @include breakpoint (small only) {
          background: linear-gradient(
            180deg,
            $color-default-inverse 70%,
            $color-secondary 70%,
            $color-secondary 100%
          );
          padding-bottom: 0;
        } //end small breakpoint

        .inner.expanded {
          padding: 0 $spacing--xl*3;

          @include breakpoint (xlarge only) {
            padding: 0 $spacing--xl*2;
          } //end xlarge only

          @include breakpoint (large only) {
            padding: 0 $spacing--md*2;
          } //end large only

          @include breakpoint (medium only) {
            padding: 0 $spacing--sm;
          } //end medium only

          @include breakpoint (small only) {
            padding: 0 $spacing--sm;
          } //end small only
          .row {
            .card--basic {
              overflow: visible;
              padding: 0 $spacing--xxl/2;
              position: relative;

              @include breakpoint (medium only) {
                padding: 0 $spacing--sm;
              } //end medium only

              @include breakpoint (small only) {
                padding: 0;
              } //end small only

              &:first-of-type {
                margin-right: 0px;
                margin-left: 0px;
              } //end first of type

              &:last-of-type {
                margin-left: 0px;
              } //end last of type

              .card__holder--basic {
                max-height: none;
                margin-top: 0;

                p {
                  strong {
                    text-transform: uppercase;
                  } //end strong
                } //end p
              } //end card holder--basic
            } //end card--basic
          } //end row
        } //end inner
      } //end two up deck basic
    } //end deck basic
  } //end deck module
} //end content
