// Duo //
.module.duo{
    &.duo--gallery{
        padding-bottom: $spacing--lg;
        
        @include breakpoint (medium only){
            padding-bottom: $spacing--sm;
        }//end medium breakpoint
        
        .inner.expanded{
            max-width: $container;
            padding: 0 $spacing--xl;
            
            @include breakpoint (large only){
                padding: 0 $spacing--md;
            }//end large breakpoint
            
            @include breakpoint (medium only){
                padding: 0 $spacing--sm;
            }//end medium breakpoint
            
            @include breakpoint (small only){
                padding: 0 $spacing--xs;
            }//end small breakpoint
            
            .row{
                box-shadow: 0 2px 5px rgba(0,0,0,.25);
                border-radius: $border-radius;
                
                @include breakpoint (small only){
                    border-radius: $border-radius-small;
                }//end small breakpoint
                
                .duo__media{
                    border-radius: $border-radius 0 0 $border-radius;
                    overflow: hidden;
                    
                    @include breakpoint (small only){
                        border-radius: $border-radius-small $border-radius-small 0 0;
                    }//end small breakpoint
                    
                    .slider__container{
                        
                        .bx-wrapper {
                            
                            @include breakpoint (small only){
                                margin-bottom: 0;
                            }//end small breakpoint
                            
                            li{
                                min-height: 215px;
                                
                                p{
                                    position: absolute;
                                    bottom:0;
                                    right:0;
                                    left:0;
                                    text-align: center;
                                    font-weight: $font-bold;
                                    color: $color-default-inverse;
                                    
                                    @include breakpoint (medium only){
                                        font-size: $fontsize-regular;
                                    }//end medium breakpoint
                                    
                                    @include breakpoint (small only){
                                        display: none;
                                    }//end small breakpoint
                                    
                                    
                                }//end p
                                
                                &:before{
                                    @include pseudo;
                                    top:0;
                                    bottom:0;
                                    right:0;
                                    left:0;
                                    background: linear-gradient(-180deg, rgba(238,238,238,0.00) 0%, #000000 100%);
                                    opacity: .2;
                                }
                            }//end li
                            
                            .bx-pager.bx-default-pager{
                                bottom: $spacing--md;
                                
                                @include breakpoint (small only){
                                    bottom: 0;
                                }//end small breakpoint
                                
                                .bx-pager-item{
                                    .bx-pager-link{
                                        background-color: transparent;
                                        height: 1.2rem;
                                        width: 1.2rem;
                                        border: 1.5px solid $color-default-inverse;
                                        border-radius: 50%;
                                        box-shadow: 0 2px 10px rgba(0,0,0,.25);
                                        
                                        &.active{
                                            background-color: $color-default-inverse
                                        }//end is active
                                    }//end bx pager link
                                }//end bx pager item
                            }//end bx-pager
                            .bx-controls-direction {
                                width:60%;
                                margin: auto;
                                position: relative;
                                
                                @include breakpoint (large only){
                                    width: 80%;
                                }//end large breakpoint
                                
                                @include breakpoint (medium only){
                                    width: 90%;
                                }//end medium breakpoint
                                
                                @include breakpoint (small only){
                                    width: auto;
                                }//end small breakpoint
                                
                                a {
                                top: auto;
                                margin-top: 0;
                                bottom: $spacing--lg;
                                background: none;
                                text-indent: 0;
                                z-index: 4;
                                
                                @include breakpoint (small only){
                                    bottom: $spacing--xs;
                                }//end small breakpoint

                                    i.fa.fa-angle-right, i.fa.fa-angle-left {
                                        background: $color-default-inverse;
                                        color: $color-primary;
                                        font-size: 2rem;
                                        text-align: center;
                                        width:100%;
                                        height:100%;
                                        border-radius: 50%;
                                        box-shadow: 0 2px 10px rgba(0,0,0,.25);
                                        @include transition (all .2s ease-in-out);
                                        
                                        &:hover{
                                            background: darken($color-default-inverse, 10%);
                                            box-shadow: none;
                                            @include transition (all .2s ease-in-out);
                                        }//end hover
                                    }//end fa angles
                                    
                                    .fa-angle-left:before{
                                        margin-right: 3px;
                                    }//end fa angle right before
                                }//end a
                            }//end bx-controls direction
                        }//end bx wrapper
                    }//end slider container
                }//end duo media
                .duo__content{
                    border-radius: 0 $border-radius $border-radius 0;
                    overflow: hidden;
                    
                    @include breakpoint (small only){
                        border-radius: 0 0 $border-radius-small $border-radius-small ;
                    }//end small breakpoint

                    .card{
                        padding: $spacing--md;
                        background: $color-default-inverse;
                        margin-bottom: 0;
                        @include breakpoint (medium only){
                            padding: $spacing--sm;
                        }//end medium breakpoint
                        
                        @include breakpoint (small only){
                            padding: $spacing--xs;
                        }//end small breakpoint

                        .card__header{
                            text-transform: uppercase;
                            color: $color-primary;
                            letter-spacing: 2px;
                            font-size: $fontsize-h2;
                            font-weight: $font-semibold;
                            text-align: center;
                            margin-bottom: $spacing--xs;
                            
                            &:before{
                                display: none;
                            }//end before
                            
                            @include breakpoint (medium only){
                                font-size: $fontsize-mobile-h1;
                            }//end medium breakpoint
                            
                            @include breakpoint (small only){
                                font-size: $fontsize-medium;
                                
                                &:before{
                                    content: 'Photo courtesy of the Breakers Palm Beach';
                                    display: block;
                                    font-size: 14px;
                                    font-family: $font-body;
                                    letter-spacing: 0px;
                                    text-transform: none;
                                    font-weight: $font-regular;
                                    color: $color-default;
                                    margin-bottom: $spacing--xs;
                                }//end before
                            }//end small breakpoint
                        }//end card header
                        .card__secondary{
                            p{
                                @include breakpoint (medium only){
                                    font-size: $fontsize-mobile-regular;
                                    line-height: 2rem;
                                }//end medium breakpoint
                                
                                @include breakpoint (small only){
                                    font-size: $fontsize-mobile-regular;
                                    line-height: 2rem;
                                }//end small breakpoint
                                strong{

                                }//end strong
                            }//end p

                            ul{
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                
                                @include breakpoint (medium only){
                                    font-size: $fontsize-mobile-regular;
                                    line-height: 2rem;
                                }//end medium breakpoint
                                
                                @include breakpoint (small only){
                                    font-size: $fontsize-mobile-regular;
                                    line-height: 2rem;
                                }//end small breakpoint
                                
                                li{
                                    padding-left: 1em; 
                                    text-indent: -.7em;
                                    margin-bottom: $spacing--xs;
                                    
                                     @include breakpoint (small only){
                                        padding-left: 1.5rem;
                                    }//end small breakpoint

                                    &:before{
                                        content: "•";
                                        color: $color-primary;
                                        font-size: 2.5rem;
                                        line-height: 0;
                                        position: relative;
                                        display: inline-block;
                                        top: 9px;
                                        margin-right: 10px;
                                        
                                        @include breakpoint (small only){
                                            font-size: 3rem;
                                            top: 11px;
                                        }//end small breakpoint
                                    }
                                }//end li
                            }//end ul

                            h2{
                                text-transform: uppercase;
                                color: $color-primary;
                                letter-spacing: 2px;
                                font-size: $fontsize-h2;
                                font-weight: $font-semibold;
                                text-align: center;
                                margin-bottom: 0;
                                margin-top: $spacing--xs;
                                
                                @include breakpoint (medium only){
                                    font-size: $fontsize-mobile-h1;
                                }//end medium breakpoint
                                
                                @include breakpoint (small only){
                                    font-size: $fontsize-medium;
                                }//end small breakpoint
                                
                            }//end h2
                        }//end card secondary
                    }//end card
                }//end duo content
            }//end row
        }//end inner expanded
    }//end duo gallery
}//end duo module