.module.staff{
    &.staff--carousel{
        padding-top: $spacing--lg;
        
        @include breakpoint (medium only){
            padding-top: $spacing--sm;
        }//end medium only
        
        @include breakpoint (small only){
            padding-top: $spacing--sm;
        }//end small only
        .inner.expanded{
            .module__header{
                h1{
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    text-align: center;
                    margin-bottom: $spacing--lg;
                    
                    @include breakpoint (medium only){
                        margin-bottom: $spacing--sm;
                    }//end medium only
                    
                    @include breakpoint (small only){
                        margin-bottom: $spacing--sm;
                        font-size: $fontsize-mobile-h1;
                    }//end small only
                }//end h1
            }//end module header
            .staff__container{
                max-width: $container;
                margin: auto;
                position: relative;
                width: 100%;
                padding: 0 $spacing--xxl*2;
                padding-bottom: $spacing--xs;
                
                @include breakpoint (large only){
                    padding: 0 $spacing--xxl;
                }//end large breakpoint
                
                @include breakpoint (medium only){
                    padding: 0 $spacing--md;
                }//end medium only
                
                @include breakpoint (small only){
                    padding: 0;
                }//end small only
                .bx-wrapper{
                    .bx-viewport{
                        .staff__carousel{
                            padding-bottom: 1rem;
                            
                            &:before,&:after{
                                @include clearfix;
                            }//end before
                            
                            .staff__card{
                                padding: 0;
                                margin:0;
                                width: 25%;
                                
                                
                                .staff__holder{
                                    
                                    min-height: 300px;
                                        
                                    .staff__wrapper{
                                        margin: 0 $spacing--sm $spacing--md;
                                        box-shadow: 0 2px 5px rgba(0,0,0,.25);
                                        border-radius: $border-radius;
                                        overflow: hidden;
                                        position: relative;
                                        
                                        @include breakpoint (large only){
                                            margin: 0 $spacing--xs $spacing--md;
                                        }//end large only
                                        
                                        @include breakpoint (medium only){
                                            margin: 0 $spacing--xs $spacing--sm;
                                        }//end medium only
                                        
                                        @include breakpoint (small only){
                                            margin: 0 auto $spacing--sm;
                                            width: 85%;
                                            max-width: 350px;
                                        }//end small breakpoint
                                        
                                        .staff__photo{
/*                                            &:after{
                                                @include pseudo;
                                                top: 0;
                                                bottom:0;
                                                right: 0;
                                                left: 0;
                                                background-color: $color-primary;
                                                opacity: 0;
                                                @include transition( all .3s ease-in-out);
                                            }//end after*/
                                            
                                            img{
                                                width:100%;
                                                @include transition( all .3s ease-in-out);
                                            }//end img
                                        }//end staff__photo

                                        h2{
                                            text-align: center;
                                            font-size: $fontsize-mobile-regular;
                                            font-family: $font-body;
                                            font-weight: $font-bold;
                                            position: absolute;
                                            background-color: $color-default-inverse;
                                            margin-bottom: 0;
                                            bottom: 0;
                                            left: 0;
                                            right: 0;
                                            padding: 0 $spacing--xs/2 $spacing--xs;
                                            @include transition( all .3s ease-in-out);
                                            
                                            @include breakpoint (medium only){
                                                font-size: $fontsize-regular;
                                            }//end medium breakpoint
                                            
                                            @include breakpoint (small only){
                                                padding-top: $spacing--xs;
                                                font-size: $font-main;
                                                font-family: $font-main;
                                                letter-spacing:1.5px;
                                                text-transform: uppercase;
                                            }//end small breakpoint
                                            
                                            &:before{
                                                @include pseudo;
                                                left:0;
                                                right:0;
                                                top:-50px;
                                                border-bottom: 50px solid $color-default-inverse;
                                                border-left: 250px solid transparent;
                                                @include transition( all .3s ease-in-out);
                                                
                                                @include breakpoint (small only){
                                                    border-left: 400px solid transparent;
                                                }//end small breakpoint
                                            }
                                            span.certifications{
                                                font-family: $font-body;
                                                font-size: 13px;
                                                display: block;
                                                letter-spacing: 0;
                                                
                                                @include breakpoint (large only){
                                                    font-size: 12px;
                                                }//end large breakpoint
                                                
                                                @include breakpoint (medium only){
                                                    font-size: 12px;
                                                }//end medium breakpoint
                                            }//end span certifications
                                        }//end h2
                                    }//end staff wrapper
                                    @include breakpoint (medium){
                                        &:hover {

/*                                            .staff__photo:after{
                                                opacity: .7;
                                                @include transition( all .3s ease-in-out);
                                            }//end staff photo after*/

                                            h2{
                                                background: darken($color-default-inverse, 5%);
                                                @include transition( all .3s ease-in-out);

                                                &:before{
                                                    border-bottom: 50px solid darken($color-default-inverse, 5%);
                                                    @include transition( all .3s ease-in-out);
                                                }//end before
                                            }//end h2
                                            
                                            img{
                                                opacity: .75;
                                                @include transition( all .3s ease-in-out);
                                            } //end img
                                        }//end staff holder hover
                                    }//end medium breakpoint
                                }//end staff holder
                            }//end staff card
                        }//end staff carousel
                    }//end bx viewport
                    
                    .bx-controls-direction {

                        a {
                        top: calc(50% - 20px);
                        margin-top: 0;
                        background: none;
                        text-indent: 0;
                        width: 40px;
                        height:40px;
                        z-index: 4;
                        
                        
                        &.bx-next{
                            right: -$spacing--lg;
                            
                            @include breakpoint (medium only){
                                right: -$spacing--sm;
                            }//end medium breakpoint
                            
                            @include breakpoint (small only){
                                right: 10px;
                            }//end small breakpoint
                        }//end bx next
                        
                        &.bx-prev{
                            left: -$spacing--lg;
                            
                            @include breakpoint (medium only){
                                left: -$spacing--sm;
                            }//end medium breakpoint
                            
                            @include breakpoint (small only){
                                left: 10px;
                            }//end small breakpoint
                            
                        }//end bx next

                            i.fa.fa-angle-right, i.fa.fa-angle-left {
                                background: $color-accent-1;
                                color: $color-default-inverse;
                                font-size: 2rem;
                                line-height: 2.4rem;
                                text-align: center;
                                width:100%;
                                height:100%;
                                border-radius: 50%;
                                box-shadow: 0 2px 10px rgba(0,0,0,.25);
                                @include transition (all .2s ease-in-out);
                                
                                @include breakpoint (small only){
                                    background: $color-primary;
                                }//end small breakpoint

                                &:hover{
                                    background: darken($color-accent-1, 10%);
                                    box-shadow: none;
                                    @include transition (all .2s ease-in-out);
                                    
                                    @include breakpoint (small only){
                                        background: darken($color-primary, 10%);
                                    }//end small breakpoint
                                }//end hover
                            }//end fa angles

                            .fa-angle-left:before{
                                margin-right: 3px;
                            }//end fa angle right before
                        }//end a
                    }//end bx-controls direction
                }//end bx-wrapper
            }//end staff container
        }//end inner expanded
    }//end staff carousel
}//end staff module

.speaker__information{
    max-width: $container;
    padding: $spacing--xs $spacing--xl*2 $spacing--xs;
    margin: auto;
    
    @include breakpoint (large only){
        padding: $spacing--xs $spacing--md $spacing--md;
    }//end large only
    
    @include breakpoint (medium only){
        padding: $spacing--xs $spacing--sm $spacing--sm;
    }//end medium only
    
    @include breakpoint (small only){
        display: none;
    }//end small only
    
    .speaker__box{
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
        border-radius: $border-radius;
        overflow: hidden;
        
        .columns{
            padding: 0;
            
            .photo--holder{
                min-height: 375px;
                .staff__photo {
                    height: 100%;
                    background-size: cover;
                    background-position: center center;
                }//end staff photo 
            }//end staff photo holder
        }//end columns    
        
        .staff--card{
            padding: $spacing--sm;
            
            h2{
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: $spacing--xs;
                
                span.certifications{
                    font-weight: $font-light;
                    
                    &:before{
                        content:' | ';
                    }//end before
                }//end span certifications
            }//end h2
            
            h3{
                color: $color-primary;
                margin-bottom: $spacing--sm;
            }//end h3
            
            p{
                @include breakpoint (medium only){
                    font-size: $fontsize-mobile-regular;
                    line-height: 2rem;
                }//end small breakpoint
            }
        }//end staff card
    }//end speaker box
}//end speaker information styles

p.sub-text{
    font-size: $fontsize-regular;
    text-align: center;
    margin-top: $spacing--xs;
    padding: 0 $spacing--xs;
    
    @include breakpoint (small only){
        margin: 0 auto $spacing--xs;
        line-height: 1.6rem;
    }//end small breakpoint

    a:hover{
        text-decoration: underline;
        color: $color-primary;
    }//end a
}//end p.sub-text