#globalheader{
    background-color: transparent;
    z-index: 10;
    bottom: 0;
    max-height: 78px;
    @include transition (all .2s ease-in-out);
    
    
    @include breakpoint (medium only){
        max-height: none;
    }//end medium only breakpoint
    
    @include breakpoint (small only){
        position: fixed;  
        max-height: none;
        bottom: auto !important;
    }//end small only breakpoint
    #top-section{
        background-color: transparent;
        
        .inner.expanded{
            max-width: $container;
            padding: $spacing--xs $spacing--xl;
            
            @include breakpoint(large only){
                padding: $spacing--xs $spacing--md;
            }//end xlarge point
            
            #leftcontent{
                width: 15%;
                
                #logo{
                    max-width:200px;
                    padding: 0;
                    max-height: 48px;
                }
            }//end left content
            
            #rightcontent{
                width: 85%;
                .top-bar{
                    background-color: transparent;

                    >ul{
                        margin-top: 0;
                        font-family: $font-main;
                        font-size: $fontsize-medium;
                        font-weight:$font-semibold;
                        float: right;
                        
                        @include breakpoint(xlarge only){
                            font-size: 17.5px;
                        }//end xlarge point
                        
                        @include breakpoint(large only){
                            font-size: 17px;
                        }//end large point


                        li{ 
                            a{
                                color: $color-default-inverse;
                                padding: $spacing--xs $spacing--md/2;
                                @include transition (all .2s ease-in-out);
                                border-radius: $border-radius-small;
                                
                                @include breakpoint(large only){
                                    padding: $spacing--xs;
                                }//end large point


                                &:hover{
                                    background-color: rgba($color-default-inverse, .2);
                                }//end hover
                            }//end a 

                            &.active>a{
                                background-color: transparent;

                                &:hover{
                                    background-color: rgba($color-default-inverse, .2);
                                }//end hover
                            }//end active a
                        }//end li

                    }//end ul

                }//end top bar
            }//end right content
        }//end inner expanded
    }//end top section

    &.sticky.is-stuck{
        background-color: $color-primary;
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
        @include transition (all .2s ease-in-out);
        
        #top-section .inner.expanded #rightcontent .top-bar>ul>li:last-child a{
            color: $color-primary;
            background-color: $color-default-inverse;
            padding: $spacing--xs $spacing--sm;
            border-radius: $border-radius-pill;
            margin-left: $spacing--xs;
            @include transition (all .2s ease-in-out);
            box-shadow: 0 2px 4px rgba(0,0,0,.11);
            
            @include breakpoint(large only){
                margin-left: 0;
            }//end xlarge point
            
            &:hover{
                box-shadow: 0 2px 11px rgba(0,0,0,.4);
                background-color: darken($color-default-inverse,5%);
                @include transition (all .2s ease-in-out);
            }//endhover
        }//end last of type a
    }//end sticky is stuck
    
    #mobilephone{
        display: none;
    }//end mobile phone
    
    .title-bar{
        background-color: transparent;
        padding: $spacing--xs;
        
        #logo{
            height: 50px;
            width: auto;
            display: inline-block;
        }//end logo
        
        #mobilemenu{
            background: transparent;
            height: auto;
            width: 3rem;
            padding: 0;
            
            .menu{
                li{
                    padding-bottom: 0;
                    display: block;
                    .hamburger{
                        padding: 0;
                        
                        &:hover{
                            opacity: 1;
                        }//end hover
                        .hamburger-box{
                            width: 3rem;
                            
                            .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after{
                                border-radius: $border-radius;
                                width: 100%;
                                background-color: $color-default-inverse;
                            }//end hamburger inner
                        }//end hamburger box
                    }//end hamburger
                    
                    a{
                        text-transform: uppercase;
                        font-weight: $font-bold;
                        font-size: .8rem;
                        color: $color-default-inverse;
                        padding: 0;
                        text-align: center;
                    }//end a
                }//emd li
            }//end menu
        }//end mobile menu
    }//end title bar
    
    .top-bar{
        background: transparent;
        
        #popover{
            height: 400px;
            overflow-y: scroll;
            padding-bottom: $spacing--xl;
            
            ul{
                font-family: $font-main;
                font-weight: $font-semibold;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 1.33px;
                padding-bottom: $spacing--sm;
                
                li{
                    display: block;
                    
                    a{
                        color: $color-default-inverse;
                        padding: $spacing--xs;
                    }//end a
                    &.active>a{
                        background: transparent;
                    }//end active a
                    
                    &:last-child{
                        a{
                            color: $color-default-inverse;
                            background-color: $color-accent-2;
                            border-radius: $border-radius-pill;
                            box-shadow: 0 2px 10px rgba(0,0,0,.25);
                            max-width: 200px;
                            margin: $spacing--xs auto;
                        }//end a
                    }//end last child
                }//end li
            }//end ul
        }//end popover
    }//end top bar
    
    @include breakpoint (medium down){
        background: linear-gradient(43deg, #B58AD0 0%, #B085CC 9%, #B085CC 9%, #7E52A3 100%);
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
    }//end breakpoint small only
}//global header


//STYLES FOR 404 PAGE
.error404 #globalheader{
    background-color: $color-primary;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    
    #top-section .inner.expanded #rightcontent .top-bar>ul>li:last-child a{
            color: $color-primary;
            background-color: $color-default-inverse;
            padding: $spacing--xs $spacing--sm;
            border-radius: $border-radius-pill;
            margin-left: $spacing--xs;
            @include transition (all .2s ease-in-out);
            box-shadow: 0 2px 4px rgba(0,0,0,.11);
            
            @include breakpoint(large only){
                margin-left: 0;
            }//end xlarge point
            
            &:hover{
                box-shadow: 0 2px 11px rgba(0,0,0,.4);
                background-color: darken($color-default-inverse,5%);
                @include transition (all .2s ease-in-out);
            }//endhover
        }//end last of type a  
}//end error 404 globalheader
