// Variables

// COLORS
// name your colors here

$color-primary: #7e52a3;
$color-secondary: #f2f2f2;
$color-accent-1: #a0a0a0;
$color-accent-2: #ff6342;
$color-default: #3f3f3f;
$color-default-inverse: #ffffff;
$gradient-primary: linear-gradient(45deg, #7b54a3 0%, #b466dc 100%);

///SPACING
$spacing--xs: 1rem; //15px
$spacing--sm: 2rem; //30px
$spacing--md: 3rem; //45px
$spacing--lg: 4rem; //60px
$spacing--xl: 5rem; // 75px
$spacing--xxl: 6rem; // 90px

// FONTS
$font-main: "Montserrat", sans-serif;
$font-body: "Roboto", sans-serif;

//font sizes
$fontsize-regular: 15px;
$fontsize-medium: 1.2rem; //18px
$fontsize-h1: 2rem; //30px
$fontsize-h2: 1.6rem; //24px
$fontsize-h3: 1.2rem; //18px
$fontsize-mobile-regular: 1.0666667rem; //16px
$fontsize-mobile-h1: 1.333333rem; //20px

//font weight

$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

// PATHS
$path-img: "../img/compressed";
$path-font: "../fonts";

//OTHER
$container: 1440px;
$border-radius: 15px;
$border-radius-small: 5px;
$border-radius-pill: 50px;
